#hex-map {
  width: 100%;
  aspect-ratio: 7 / 5;
  position: relative;
  overflow: hidden;
}

.aspect-container {
  position: absolute;
  width: var(--map-width);
  height: var(--map-height);
  transform-origin: top left;
}
