* {
  font-family: Lato, sans-serif;
  word-spacing: 1px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg .tile__text {
  fill: black;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}
::ng-deep {
  .tile {
    fill: none;
    stroke-width: 1;
    text-anchor: middle;
  }
  .tile__text {
    fill: black;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
  }
}
