svg .tile__text {
  fill: black;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
}
::ng-deep {
  .tile {
    fill: none;
    stroke-width: 1;
    text-anchor: middle;
  }
  .tile__text {
    fill: black;
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
  }
}
:host {
  position: absolute;
  left: var(--hex-x-pos);
  top: var(--hex-y-pos);
  width: 10.5%;
  height: auto;

  ::ng-deep {
    svg {
      display: block;
    }
  }
}
